{% extends 'base.html' %}
{% block page_content %}
<div class="container table-responsive mt-3">
	<div class="row">
		<div class="offset-3 col-6">
			<!-- Form Name -->
			<h3>Add New Ticket</h3>
			{% csrf_token %}
			{% load crispy_forms_tags %}
			{% crispy form %}
		</div>
	</div>
</div>
{% endblock %}