{% extends 'base.html' %}
{% block page_content %}
<div class="row">
	<!--Contents-->
	<div class="offset-4 col-4 jumbotron mt-5">
		<h2>Change your password</h2>
		<small class="text-muted">For simulation purposes, there will be no email verification</small>
		{% if error_message != "" %}
		<div class="alert alert-danger">
			<strong>{{ error_message }}</strong>
		</div>
		{% endif %}
		<form name="change_password_form" action="{{ uid }}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="pw1">Password</label>
				<input class="form-control" type="password" name="pw1" id="pw1">                            
			</div>
			<div class="form-group">
				<label for="pw2">Confirm Password</label>
				<input class="form-control" type="password" name="pw2" id="pw2">                            
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}