{% extends 'base.html' %}
{% block page_content %}
<div class="container mt-5">
	<h3>Filter Tickets</h3>
	<form method="GET" action=".">
		{{ myFilter.form }}
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
	<hr />
	<div class="card card-body">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Created At</th>
					<th>Updated At</th>
					<th>Closed At</th>
					<th>Assigned To</th>
					<th>Reported By</th>
					<th>Status</th>
					<th>Severity</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						<td>{{ticket.id}}</td>
						<td>{{ticket.title}}</td>
						<td><a href="{% url 'ticketDetails' ticket.pk %}">{{ticket.description}}</a></td>
						<td>{{ticket.created_at}}</td>
						<td>{{ticket.updated_at}}</td>
						<td>{{ticket.closed_at}}</td>
						<td>{{ticket.assignedTo}}</td>
						<td>{{ticket.reportedBy}}</td>
						<td>{{status_text|get_item:ticket.status}}</td>
						<td>{{severity_text|get_item:ticket.severity}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}