{% load static %}
<!DOCTYPE html>
<html>
<head>   
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">

	<title>HDO - Login</title>
</head>
<body>	
	<div class="sidenav">
		<div class="login-main-text">
			<h2>HD-Only<br>Bug Tracker</h2>
			<p>Login or register from here to access.</p>
		</div>
	</div>
	<div class="main">
		<div class="col-md-6 col-sm-12">
			<div class="login-form">
				<form method="POST" action="">
				{% csrf_token %}
					<div class="form-group">
						<label>User Name</label>
						<input type="text" name="username" class="form-control" placeholder="User Name">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password"  class="form-control" placeholder="Password">
					</div>
					
					{% for message in messages %}
					
					<p id ="messages">{{message}}</p>
					
					{% endfor %}
					
					<button type="submit" class="btn btn-black">Login</button>
					<a class="btn btn-secondary" href="{% url 'register' %}" class="ml-2">Register</a>
					<a class="ml-2 btn btn-danger" href="{% url 'forgetpassword' %}">Forget Password</a>
				</form>
			</div>
		</div>
	</div>
</body>