{% extends 'base.html' %}
{% block page_content %}
<div class="container-fluid mt-3">
    <h2>All Tickets Overview</h2>
    <div class="advsearch">
    <span><a href="{% url 'filterView' %}">Advanced Search</a></span>
    </div>
    <table class="table table-striped table-bordered table-hover" id="ticketsTable" >
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th class="w-20">Description</th>
                <th>Creation</th>
                <th>Updated</th>
                <th>Closed</th>
                <th>Reported By</th>
                <th>Assigned To</th>
                <th>Status</th>
                <th>Severity</th>
                <th>Validity</th>
            </tr>
        </thead>
        <tbody>
            {% for record in bugs %}
                <tr>    
                    <td>{{record.id}}</td>
                    <td>{{record.title}}</td>
                    <td><a href="{% url 'ticketDetails' record.pk %}">{{record.description}}</a></td>
                    <td>{{record.created_at}}</td>
                    <td>{{record.updated_at}}</td>
                    <td>{{record.closed_at}}</td>
                    <td>{{record.reportedBy}}</td>
                    <td>{{record.assignedTo}}</td>
                    <td>{{ticket_status|get_item:record.status}}</td>
                    <td>{{ticket_severity|get_item:record.severity}}</td>
                    <td>{{ticket_validity|get_item:record.validity}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}