/* static/css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
	height: 100%;
}

div {
    display: block;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.content_summary{
    display: block;
    margin-top: .625rem;
    margin-bottom: .625rem;
    overflow: auto;
    text-align: center;
}

.password-reset{
    position: relative;
    z-index: 2;
}
.password-reset h2{
    font-size: 32px;
    text-align: center;
}

.int-area{width: 400px; position: relative;}
.int-area input{
    width: 100%;
    padding: 15px;
    font-size: 18px;
}
.int-area label{
    position: center; left: 10px; top: 15px;
    font-size: 18px; color: black;
    transition: all .5s ease;
}

.box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
    padding: 40px;
    border: 1px solid #e5e5e5;
}

.btn-area{margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;}

.btn-area button{
    width:70%; height:50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
}

.auth_table{width: 400px; position: relative;}
.auth_table input{
    width: 100%;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    border: none;
}

.auth_table label{
    position: center; left: 10px; top: 15px;
    font-size: 18px; color: black;
    transition: all .5s ease;
}

.auth_password h2{
    font-size: 32px;
    text-align: center;
}

.newpassword{width: 400px; position: relative;}
.newpassword input{
    width: 100%;
    padding: 10px;
    font-size: 18px;

}

.newpassword label{
    position: center; left: 10px; top: 15px;
    font-size: 18px; color: black;
    transition: all .5s ease;

}

.newpassword h2{
    font-size: 32px;
    text-align: center;
}

.content-wrapper {
	margin-bottom: 150px;
}

.text-wrap {
	word-wrap: break-word;
}

#welcome{
    text-align: center;
}
.advsearch{
    display: flex;
    float: right;

}